<div id="main-title-container">
  <span id="main-title">langalize</span>
</div>
<br/>
<div id="main-faux-navbar">
    <span>
      <a routerLink="/unsolved" routerLinkActive="active" class="main-faux-navbar-button unsolved" id="unsolved-button">Unsolved</a>
      <a routerLink="/add" routerLinkActive="active" class="main-faux-navbar-button" id="add-button">+</a>
      <a routerLink="/solved" routerLinkActive="active" class="main-faux-navbar-button solved" id="solved-button">Solved</a>
    </span>
</div>
<div id="main-app-area">
  <router-outlet></router-outlet>
</div>
